<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %>></title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>TODO LIST</h1>
    <!-- first part -->
    <div>
      <form action="/add_todo" method="post">
        <div>
          <label for="description">Description</label>
          <input
            id="desc"
            type="text"
            id="description"
            name="description"
            placeholder="Description"
            required
          />
        </div>
        <div>
          <label for="category">Category</label>
          <select name="category" id="category">
            <option value="personal">Personal</option>
            <option value="school">School</option>
            <option value="work">Work</option>
          </select>
        </div>
        <div>
          <label for="date">Date</label>
          <input type="date" id="date" name="date" />
        </div>
        <button type="submit">ADD TASK</button>
      </form>
    </div>

    <!-- Second Part -->
    <div>
      <ul>
        <% for (let i of TODO) { %>
        <li>
          <%= i.description %> <br /><%= i.category %> &emsp; <%=i.date %>
        </li>
        <a href="/delete-todo/?_id=<%= i._id %>"
          ><button type="button">DELETE</button></a
        >
        <% } %>
      </ul>
    </div>
  </body>
</html>
